<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.CommentLikeMapper" >
  <resultMap id="BaseResultMap" type="com.sun.model.CommentLike" >
    <id column="like_id" property="likeId" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_like" property="isLike" jdbcType="BIT" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    like_id, comment_id, user_id, is_like, yn, createDate, updateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sun.model.CommentLikeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sun.model.CommentLikeExample" >
    delete from comment_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sun.model.CommentLike" >
    insert into comment_like (like_id, comment_id, user_id, 
      is_like, yn, createDate, updateDate
      )
    values (#{likeId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{isLike,jdbcType=BIT}, #{yn,jdbcType=BIT}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sun.model.CommentLike" >
    insert into comment_like
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        like_id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isLike != null" >
        is_like,
      </if>
      <if test="yn != null" >
        yn,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        #{likeId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isLike != null" >
        #{isLike,jdbcType=BIT},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=BIT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sun.model.CommentLikeExample" resultType="java.lang.Integer" >
    select count(*) from comment_like
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment_like
    <set >
      <if test="record.likeId != null" >
        like_id = #{record.likeId,jdbcType=INTEGER},
      </if>
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.isLike != null" >
        is_like = #{record.isLike,jdbcType=BIT},
      </if>
      <if test="record.yn != null" >
        yn = #{record.yn,jdbcType=BIT},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment_like
    set like_id = #{record.likeId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      is_like = #{record.isLike,jdbcType=BIT},
      yn = #{record.yn,jdbcType=BIT},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun.model.CommentLike" >
    update comment_like
    <set >
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isLike != null" >
        is_like = #{isLike,jdbcType=BIT},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=BIT},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun.model.CommentLike" >
    update comment_like
    set comment_id = #{commentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      is_like = #{isLike,jdbcType=BIT},
      yn = #{yn,jdbcType=BIT},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
</mapper>